.search-main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.search-div {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background: whitesmoke;
    border-radius: 10px;
    margin-top: 45px;
    padding: 10px;
}
.search{
    width: 80%;
    border-style: none;
    height: 10px;
    display: flex;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
}
.slider{
    width: 80%;
    background-color: #5fafd9
}

.rangeslider__fill{
    background-color: #5fafd9 !important;
    margin-bottom: 0 !important;
}
.rangeslider-horizontal .rangeslider__handle:after {
    background-color: white !important;
    box-shadow: none !important;
}
.p {
    margin: 0;
    font-size: 15px;    
} 