.Footer {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 54px;
}

.Logo {
  background-image: url('./YardShtick.png');
  height: 45px;
  width: 155px;
  background-repeat: no-repeat;
  background-size: 155px 45px;
}