.Footer {
  width: 100%;
  background: #236e96;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 54px;
  box-shadow: -1px -1px 1px grey
}

.itemPic {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px grey
}

button {
  border: none;
}

.leftButton{
  border-right: 1px solid white;
}

.rightButton{
  border-left: 1px solid white
}

#navButton {
  background: #236e96;
  height: 54px;
  width: 75px;
  color:white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif
}




.Logo {
  background-image: url('./images/YardShtick.png');
  height: 40px;
  width: 155px;
  background-repeat: no-repeat;
  background-size: 155px 45px;
  border-radius: 10px;
}